* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: F1Regular;
}

:root {
  --main-color: #e10600;
  --secondary-color: #ffffff;
}

@font-face {
  font-family: F1Regular;
  src: url(fonts/Formula1-Regular.otf);
}

@font-face {
  font-family: F1Bold;
  src: url(fonts/Formula1-Bold.otf);
}

.header {
  background-color: var(--main-color);
  padding: 0.5rem 3rem;
  display: flex;
  align-items: center;
  color: var(--secondary-color);
}

.header__title {
  font-family: F1Bold;
}

.scoreboard {
  margin-left: auto;
  line-height: 2rem;
}

.scoreboard__score {
  font-size: 1.2rem;
}

.grid {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.card {
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

.card__image {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  padding: 0.3rem;
  color: var(--secondary-color);
  justify-content: center;
}

.footer__logo {
  width: 32px;
  height: 32px;
  margin: 0 1rem;
}
